/* ChatUI.css */

.chat-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #333;
  padding: 16px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100px;
}

.title {
  font-size: 16px;
  margin: 10px 0;
  color: #fff;
}

.subtitle {
  font-size: 12px;
  margin-bottom: 20px;
  color: #ccc;
}

.new-chat-button,
.clear-chat-button {
  margin-bottom: 16px;
  background-color: #c5c6c8;
  color: rgb(40, 37, 37);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.chat-history {
  flex-grow: 1;
  overflow-y: scroll;
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.chat-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}

.chat-messages {
  flex-grow: 1;
  padding: 16px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  max-width: 70%;
  align-self: flex-end; /* Align user messages to the left */
}

.user-message {
  background-color: #94eca3;
  color: #242222;
  
}

.bot-message {
  background-color: #f0f0f0;
  color: #000;
  align-self: flex-start; /* Align bot messages to the right */
}

.input-container {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #111;
  border-top: 1px solid #ccc;
}

.input-box {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  background-color: #333;
}

.send-button {
  background-color: #c7cace;
  color: rgb(24, 23, 23);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
}
